*{
  margin: 0;
  padding: 0;
  font-family:Gothic;
}

div.navbar{
  min-width: 50px;
  top:0;
  width: 100%;
  height: 55px;
  background-color:#f5fffa;
  align-items: center;
  position: fixed;
  z-index: 1;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
}

.nav_ul{
  list-style-type: none;
  padding-right: 10px;
}

.nav_ul li{
  float:right;
  width: 115px;
  font-size: 0;
  line-height: 51px;
  text-align: center;

}

.nav_ul li a{
  font-family:tahoma;
  padding:auto;
  font-size: 16px;
  text-decoration:none;
  color: #000;
  border: 1px solid transparent;
  transition: 0.5s ease;
  display: block;
}

.nav_ul li a:hover{
  background-color: #E6E6FA;
  color: #000;
  transition: 0.5s all ease;
}

.nav_ul li ul li{
  display:none;
  line-height: 36.5px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  background-color:#E6E6FA;
  transition: 1s all;

}
.nav_ul li.active a{
  position:absolute;
  font-size: 30px;
  right:420px;
  padding-right: 18px;
  padding-left: 18px;
  align-items: center;
}
.nav_ul li:hover ul li{
  background-color: #f5fffa;
  display: block;
  transition: 1s all;
}

.logo{
  margin-top: 0px;
  padding-right: 1px;
  float: right;
  width: 75px;
  height:53px;
  cursor:pointer;
}

.tok{
  background: #c0c0c0;
}
.moon{
  min-width: 1500px;
}
.hero-image{
  min-width: 1500px;
}
